body,html
{
	padding:0px;
	margin:0px;
	
	background-image: url("https://i.pinimg.com/originals/57/5f/35/575f35f7c756985c6ef2823b32d6470d.jpg");/*,url("https://images.alphacoders.com/247/247531.jpg");*/
    background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
   



}
#img{
   
    width:50px;height:50px; position:relative;margin:5px;
   position: absolute;
    -webkit-animation: mymove 6s;  /* Safari 4.0 - 8.0 */
    -webkit-animation-fill-mode: forwards; /* Safari 4.0 - 8.0 */
    animation: mymove 6s;
    animation-fill-mode: forwards;
}

@-webkit-keyframes mymove {
    0% {top: 0px;}
    100% {top: 400px; visibility:hidden;}
}

@keyframes mymove {
    0% {top: 0px;}
    100% {top: 400px ;visibility:hidden;}
}
 #carouse{
   position:absolute;
   top:0;
   right:0;
   margin:2px;
  }
  #music{
	 position:absolute;
   bottom:0;
   right:0;
   margin:2px; 
  }
* {
  box-sizing: border-box;
}
body {
  min-height: 100vh;
  background: #000;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
blockquote {
  font-size: 3rem;
}
cite {
  display: block;
  text-align: right;
  font-family: Verdana, Arial, sans-serif;
  margin-top: 1rem;
  font-size: .9rem;
  color: #aaa;
  font-style: normal;
}
blockquote q {
  font-family: Georgia, serif;
  font-style: italic;
  letter-spacing: .1rem;
}
blockquote q span { 
  will-change: opacity, filter;
  opacity: 0;
  filter: blur(0px);
}
q {
  quotes: "“" "”" "‘" "’";
}
q:before {
    content: open-quote;
    margin-right: .8rem;
}
q:after {
  content: close-quote;
}
q:before, q:after {
  color: #ccc;
  font-size: 4rem;
}
